/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* Genral CSS */

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background-color: #FF5A00;
}

.app-container {
  height: auto;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.game-header {
  background-color: white;
  width: 100%;
  max-width: auto;
  height: auto;
  color: black;
}

h1 {
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2.4rem);
  color: rgb(0, 0, 0);
  margin: 2rem;
  text-align: center;
}

button {
  padding: 0.4rem 1.3rem;
  border: none;
  font-weight: bold;
  font-size: clamp(0.9rem, 0.4vw + 0.8rem, 1.1rem);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}


/* Game Menu CSS */

form {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
  height: 100%;
  width: 100%;
}

.form__input-group {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  padding: 0.3rem 0.5rem;
  font-size: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
}

::placeholder { 
  color: #000000;
}

label {
  font-size: clamp(0.8rem, 0.3vw + 0.7rem, 1rem);
  font-weight: 500;
}

.form__button--submit {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 0.2rem;
}


/* Game CSS */

.board {
  position: relative;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: black;
}

.board__square {
  background-color: rgb(46, 46, 46);
  margin: 3px;
  aspect-ratio: 1 / 1;
  color: white;
  font-size: 3rem;
}

.game-display {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-display__players {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.game-display__player-name {
  font-weight: bold;
}

.game-display__player-name p {
  font-weight: normal;
}

.game-display__status {
  font-size: 1.5rem;
  font-weight: 500;
}



 svg {
  position:absolute;
} 

line {
  stroke: #FF5A00;
  stroke-width: 10;
}